# supabase/functions/.env
DB_WEBHOOK_SECRET=super-secret-db-webhook-key-123
ALLOWED_ORIGIN=http://localhost:3000
SITE_URL=http://localhost:3000

# Mailgun
MAILGUN_API_KEY=example-key
MAILGUN_DOMAIN=example-domain
NEW_CASE_NOTIFICATION_EMAIL=example-mail
DISPUTE_NOTIFICATION_EMAIL=example-mail
COMMENT_REPORT_NOTIFICATION_EMAIL=example-mail