# supabase/functions/.env
DB_WEBHOOK_SECRET=super-secret-db-webhook-key-123
WEDIUM_API_KEY=example-wedium-api-key
ALLOWED_ORIGIN=http://localhost:3000
SITE_URL=http://localhost:3000

# Scaleway Transactional Email
SCALEWAY_TEM_PROJECT_ID=example-project-id
SCALEWAY_TEM_SECRET_KEY=example-secret-key
SCALEWAY_TEM_FROM_EMAIL=noreply@notify.codetekt.org
NEW_CASE_NOTIFICATION_EMAIL=example-mail
DISPUTE_NOTIFICATION_EMAIL=example-mail
COMMENT_REPORT_NOTIFICATION_EMAIL=example-mail
